.listImg {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.295);
}

.listBtn {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    border: none;
    color: gray;
    background-color: transparent;
    outline: none;
}

.btn:first-child:hover {
    color: rgba(63, 99, 93, 0.5);
    transition: all 0.3s linear
}

.btn:hover {
    color: rgba(255, 0, 0, 0.514);
    transition: all 0.3s linear
}