.btn {
    font-size: 20px;
    border: none;
    padding: 5px;
    background-color: rgba(63, 99, 93, 0.5);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
    cursor: not-allowed;
}